.titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 3rem;
    gap: 1rem;
}